<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="navbar-brand">Puddy</ul>
    </div>
    <ul class="nav navbar-nav" class="navbar" class="menu">
      <li class="active">{{#link-to "home"}}Home{{/link-to}}</li>
      <li>{{#link-to "login"}}Log in{{/link-to}}</li>
      <li>{{#link-to "profile"}}Profile{{/link-to}}</li>
      <li>{{#link-to "discover"}}Discover{{/link-to}}</li>
      <li>{{#link-to "add"}}Add{{/link-to}}</li>
    </ul>
  </div>
</nav>

{{outlet}}
